
AddHandler php-stable .php

# BEGIN WordPress
<IfModule mod_rewrite.c>
@@ -11,15 +10,3 @@ RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# BEGIN (mt) controlled settings
<IfModule !mod_fcgid.c>
  AddHandler php-stable .php
</IfModule>
<IfModule mod_fcgid.c>
  AddHandler fcgid-script .php
  <Files *.php>
    Options +ExecCGI
  </Files>
</IfModule>
# END (mt) controlled settings